.not-found{
  text-align: center;
  font-size: 24px;
}
.detailwrapper{
    border-bottom: 1px solid #62a2b9;
    padding: 2% 0;
    border-bottom: 1px solid #62a2b9;
    padding: 2% 0;
}
.detailwrapper:last-child{
    border-bottom: none;
}
.detail-title{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.detailwrapper .characters{
  margin-top: 10px;
}
.detailwrapper .characters a{
  font-size: 24px;
  font-weight: bold;
  padding-right: 40px;
}
.detail{
    margin: 0;
}
