.row {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
    display: block;
    box-sizing: border-box;
    position: relative;
}
@media screen and (min-width: 1001px) {
    .row:nth-child(3n) {
        margin-right: 0;
    }
    .row:nth-child(3n+1) {
        clear: both;
    }
    .row:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
    .row {
        width: 49%;
    }
    .row:nth-child(2n) {
        margin-right: 0;
    }
    .row:nth-child(2n+1) {
        clear: both;
    }
    .row:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 600px) {
    .row {
        width: 100%;
        margin-right: 0;
    }
    .row:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1000px) {
    .row {
        margin-bottom: 20px;
    }
}
.row a {
    display: block;
    padding: 2%;
    border: 1px solid #62a2b9;
    border-radius: 4px;
    background: #fff;
    color: #4c4c4c;
    text-decoration: none;
    position: relative;
}
.row a:hover {
    background: #62a2b9;
}
.row a span {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}
.row a span:last-child {
    margin-bottom: 0;
}
.row .title {
    font-size: 24px;
    font-weight: bold;
}
.row .release-date {
    padding-top: 2%;
    border-top: 1px solid #62a2b9;
}
.fav {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 32px;
    height: 32px;
    background: #ccc;
    display: block;
    cursor: pointer;
    z-index: 3;
    background: url('heart-sprite.png') no-repeat  -64px 0;
}
.fav.active{
    background-position: 0 0;
}
.fav:hover, .fav.active:hover {
    opacity: 0.8;
}

.fav.inline {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
