form{
    max-width: 500px;
    margin: 2% auto;
}
input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #62a2b9;
    border-style: solid;
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    form{
        margin: 20px auto;
    }
}
