main {
    padding: 2% 0;
    position: relative;
}
main h1{
    font-size: 48px;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    main{
        padding: 20px 0;
    }
}
.loader {
    border: 16px solid #0280ae;
    border-top: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
