header {
    background: #0280ae;
    padding: 2% 0;
    color: #fff;
}
.logo-wraper {
    width: 251px;
    max-width: 96%;
    margin: 0 auto;
}
.logo {
    padding-bottom: 52.88%;
    text-align: center;
    background: url("starwars-logo.png")no-repeat center;
    background-size: contain;
    display: block;
}
.quiz {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    border-top: 1px solid #62a2b9;
  }
 .quiz span {
    display: inline-block;
 }
