body {
    font-size: 14px;
    line-height: 1.4;
    color: #4c4c4c;
}
.container {
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
}
/* footer to the bottom */
html, body, #root {
   height: 100%;
}
#root > div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main {
    flex-grow: 1;
}
footer, main, header {
    flex-shrink: 0;
}
